.drill-table-box {
  max-width: 100vw;
  overflow: auto;
}

.drill-table th {
  border: none !important ;
  font-size: small;
  vertical-align: top !important;
}

.drill-table tr {
  vertical-align: center !important ;
}

.my-selectmenu {
  outline: none;
  box-shadow: none;
}

.my-selectmenu:focus {
  outline: none;
  box-shadow: none;
  border-color: #dee2e6;
}

.my-selectmenu .dropdown-menu {
  border: 2px solid #ff0000 !important; /* Border color for the dropdown */
}

/* CustomDropdown.css */

/* Customizing the dropdown menu border */
.my-selectmenu .dropdown-menu {
  border: 2px solid #ff0000 !important; /* Set the border color */
}

/* Customizing the hover background color for dropdown items */
.my-selectmenu .dropdown-item:hover,
.my-selectmenu .dropdown-item:focus {
  background-color: #f0f0f0 !important; /* Change hover color */
  color: #333 !important; /* Optional: change text color on hover */
}

#dropdown-basic {
  border: 1px solid #dee2e6;
  background-color: #f4f4f4;
  color: #3c3f53;

  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dropdown-basic:focus {
  color: black;
}

.drill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.drill-box .drill-item {
  flex: 1 1 auto; /* Allow items to grow and shrink as needed */
  width: 40%;
  max-width: 50%; /* Each item takes up 50% of the row */
  box-sizing: border-box; /* Include padding/border in width calculations */
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.drill-box .drill-item input::placeholder,
.drill-notes textarea::placeholder {
  font-size: 0.8rem;
}
